openapi: 3.0.1
info:
  title: Ziqni Gateway Services
  version: 1.0.0
  description: These are the Gateway services to be used by customers.
  contact:
    name: Ziqni Support Team
    url: 'https://www.ziqni.com'
    email: support@ziqni.com
  license:
    name: Proprietary and confidential
servers:
  -
    url: 'https://gateway.ziqni.com'
    description: Gateway Endpoint
paths:
  '/api/v1/{spaceName}/competitions':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/optionsActualEndDates'
        -
          $ref: '#/components/parameters/actualEndDates'
        -
          $ref: '#/components/parameters/productsProductRefId'
        -
          $ref: '#/components/parameters/productRefId'
        -
          $ref: '#/components/parameters/productMetadataKey'
        -
          $ref: '#/components/parameters/productsMetadataValue'
        -
          $ref: '#/components/parameters/optionsProductRefId'
        -
          $ref: '#/components/parameters/compStatusString'
        -
          $ref: '#/components/parameters/compStatusCode'
        -
          $ref: '#/components/parameters/optionsLimitEntrantsTo'
        -
          $ref: '#/components/parameters/limitEntrantsTo'
        -
          $ref: '#/components/parameters/optionsScheduledStartDates'
        -
          $ref: '#/components/parameters/scheduledStartDates'
        -
          $ref: '#/components/parameters/optionsScheduledEndDates'
        -
          $ref: '#/components/parameters/scheduledEndDates'
        -
          $ref: '#/components/parameters/optionsActualStartDates'
        -
          $ref: '#/components/parameters/actualStartDates'
      responses:
        '200':
          $ref: '#/components/responses/CompetitionResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getCompetitions
      summary: Returns a list of competitions
      description: >-
        Returns a simplified list of available Competitions for ALL.


        The default behaviour of a response is that the competitions that are in Ready, Active or
        Finished state AND are eligible for ALL will be returned unless queried otherwise.


        To return eligibility for specific groups you need to send an endpoint for options
        limitEntrantsTo (the value of "search_word" is the member group or multiple groups that you
        are searching for that is eligible to participate). This filter will check eligibility against
        4 types of member group setup:

        1. should - if a member part of this group then a competition will be returned

        2. must - the competition with this group has to exist

        3. must-not - groups that can not participate

        4. ALL - by default if any competition is in ALL member group then it will be returned even if
        the filter is request for must, should or must-not


        The response is competitions that are eligible to ALL + limitEntrantsTo


        This assumes that competitions have first been created using the web console otherwise no data
        will be returned and the value of the "totalRecordsFound" variable in metadata will be 0.


        GET responses can be filtered out based on the competition parameters to narrow down the
        results.


        The denser the queryable URL the more precise the response will be.



        Sort by fields is limited to:

        * created (DateTime of the competition creation)

        * label (the label of the competition)

        * scheduled start and end DateTime

        * actual start and end DateTime

        * status code that indicates the status of the competition


        Example:


        ?_sortByFields=created


        ?_sortByFields=label


        ?_sortByFields=options.scheduledDates.start


        ?_sortByFields=options.scheduledDates.end


        ?_sortByFields=options.actualDates.start


        ?_sortByFields=options.actualDates.end


        ?_sortByFields=statusCode
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/competitions/{id}':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/unitsOfMeasureKey'
      responses:
        '200':
          $ref: '#/components/responses/CompetitionByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getCompetitionById
      summary: Returns the competition by requested id
      description: >-
        Returns a competition with a list of all available contests and rewards for that competition.


        This assumes that a competition and contests have first been created using the web console.
        Otherwise, no data is returned.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/contests':
    summary: Perform operations on contests
    description: ''
    get:
      tags:
        - contests
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/unitsOfMeasureKey'
        -
          $ref: '#/components/parameters/compId'
        -
          $ref: '#/components/parameters/contNumber'
        -
          $ref: '#/components/parameters/contRound'
        -
          $ref: '#/components/parameters/contOptionsNumberOfEntMax'
        -
          $ref: '#/components/parameters/contOptionsNumberOfEntMin'
        -
          $ref: '#/components/parameters/contOptionsIsPublic'
        -
          $ref: '#/components/parameters/contOptionsAutoStart'
        -
          $ref: '#/components/parameters/contOptionsAutoStop'
        -
          $ref: '#/components/parameters/optionsActualEndDates'
        -
          $ref: '#/components/parameters/optionsScheduledStartDates'
        -
          $ref: '#/components/parameters/optionsScheduledEndDates'
        -
          $ref: '#/components/parameters/optionsActualStartDates'
        -
          $ref: '#/components/parameters/contOptRankStratScoresDesc'
        -
          $ref: '#/components/parameters/contOptRankStratTimeDesc'
        -
          $ref: '#/components/parameters/contOptRankStratScoreFirst'
        -
          $ref: '#/components/parameters/contOptRankStratIgnoreTime'
        -
          $ref: '#/components/parameters/contOptRankStratIgnoreScore'
        -
          $ref: '#/components/parameters/contOptScoringStratLimitUpdates'
        -
          $ref: '#/components/parameters/contOptScoringStratSumBestOf'
        -
          $ref: '#/components/parameters/contOptScoringStratLastUpdateTs'
        -
          $ref: '#/components/parameters/contOptScoringStratRecordTime'
        -
          $ref: '#/components/parameters/statregyTypeString'
        -
          $ref: '#/components/parameters/created'
      responses:
        '200':
          $ref: '#/components/responses/ContestResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or request URL is incorrect.
      security:
        -
          apiKey: []
      operationId: getContests
      summary: Returns a list of contests
      description: >-
        Returns a simplified list of available Contests and rewards attached to it.


        * The response of a contest is different than the competitions. While competitions give a
        response of only Ready, Active and Finished competitions states the contest gives all the
        contests that are in cancelled state as well.


        This assumes that the competitions and contests have first been created using the web console
        otherwise no data will be returned and the value of the "totalRecordsFound" variable in
        metadata will be 0.


        GET responses can be filtered out based on the contests parameters to narrow down the results.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/contests/{id}':
    summary: Perform operations on operations on a specific contest
    description: ''
    get:
      tags:
        - contests
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/unitsOfMeasureKey'
      responses:
        '200':
          $ref: '#/components/responses/ContestByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getContestById
      summary: Returns the contest by requested id
      description: >-
        Returns a contest and rewards attached to it by request.


        This assumes that a competition and contests have first been created using the web console.
        Otherwise no data is returned.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/contests/{id}/leaderboard':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - contests
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
        -
          $ref: '#/components/parameters/memberIdOrRefAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/LeaderboardResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getLeaderboardByContestId
      summary: Returns the leaderboard for a by contest id
      description: >-
        Leaderboards, also referred to as score board, give you aggregates of rank and points by
        member.


        Leaderboards are calculated on a near real-time basis. The rate data is received by
        CompetitionLabs is directly proportional to the update of member positions on the leaderboard.


        GET responses can be queried based on generic query parameters (_limit, memberId) to filter
        results appropriately.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{id}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - members
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMemberById
      summary: Returns the member by requested id
      description: Returns the information for a given Member id
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{id}/messages':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-messages
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
        -
          $ref: '#/components/parameters/eventRefType'
        -
          $ref: '#/components/parameters/eventReferenceId'
        -
          $ref: '#/components/parameters/messageType'
        -
          $ref: '#/components/parameters/subject'
        -
          $ref: '#/components/parameters/prizeRewardEntityType'
        -
          $ref: '#/components/parameters/prizeRewardEntityId'
        -
          $ref: '#/components/parameters/prizeRewardRank'
        -
          $ref: '#/components/parameters/prizeRewardValue'
        -
          $ref: '#/components/parameters/prizeRewardType'
        -
          $ref: '#/components/parameters/prizeRewardDelay'
        -
          $ref: '#/components/parameters/prizeRewardMemAckReqd'
        -
          $ref: '#/components/parameters/prizeRewardMetadataKey'
        -
          $ref: '#/components/parameters/prizeRewardMetadataValue'
        -
          $ref: '#/components/parameters/prizeRewardCreated'
        -
          $ref: '#/components/parameters/prizeRewardId'
        -
          $ref: '#/components/parameters/prizeClaimed'
        -
          $ref: '#/components/parameters/prizeEntityType'
        -
          $ref: '#/components/parameters/prizeEntityId'
        -
          $ref: '#/components/parameters/prizeCreated'
        -
          $ref: '#/components/parameters/prizeId'
        -
          $ref: '#/components/parameters/messageStatus'
        -
          $ref: '#/components/parameters/created'
        -
          $ref: '#/components/parameters/metadataKey'
        -
          $ref: '#/components/parameters/metadataValue'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMessagesByMemberId
      summary: Returns messages for a member by requested id
      description: >-
        Returns a list of available messages for the specified memberId.


        GET responses can be filtered out based on the member messages parameters to narrow down the
        results.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/messages/{id}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-messages
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/idAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMessageByIdAndMemberId
      summary: Returns messages for a member by requested id
      description: >-
        Returns member message details for the member and message ID specified. When a message with a
        status of New is accessed by this endpoint then the status of the message becomes Read
        automatically.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/achievements':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAchievementsByMemberId
      summary: Returns achievements for a member
      description: >-
        Returns a progression list of achieved percentages based on the configured achievements rules
        for a specified member.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/achievements/issued':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
            $ref: '#/components/schemas/AchievementIssuedResponseBody'
      security:
        -
          apiKey: []
      operationId: getIssuedAchievementsByMemberId
      summary: Returns achievements issued for a member
      description: >-
        Returns an aggregated list of achieved achievement IDs for a specified member with a count
        that indicates the amount of times this achievement was issued for the specified memerId.


        If there is no achievement data inside the events stream for a specified user no data returned
        and the value of the "totalRecordsFound" variable in metadata is 0.


        `All the achievements, including deprecated/archived ones, that were issued to the member are
        displayed.`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/achievements/{achievementId}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/achievementIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAchievementByIdAndMemberId
      summary: Returns specific achievement for a member
      description: >+
        Returns a progression list of achieved percentages based on the configured achievements rules
        for a specified member.

      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/competitions':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/optionsActualEndDates'
        -
          $ref: '#/components/parameters/actualEndDates'
        -
          $ref: '#/components/parameters/productsProductRefId'
        -
          $ref: '#/components/parameters/productRefId'
        -
          $ref: '#/components/parameters/productMetadataKey'
        -
          $ref: '#/components/parameters/productsMetadataValue'
        -
          $ref: '#/components/parameters/optionsProductRefId'
        -
          $ref: '#/components/parameters/compStatusString'
        -
          $ref: '#/components/parameters/compStatusCode'
        -
          $ref: '#/components/parameters/optionsLimitEntrantsTo'
        -
          $ref: '#/components/parameters/limitEntrantsTo'
        -
          $ref: '#/components/parameters/optionsScheduledStartDates'
        -
          $ref: '#/components/parameters/scheduledStartDates'
        -
          $ref: '#/components/parameters/optionsScheduledEndDates'
        -
          $ref: '#/components/parameters/scheduledEndDates'
        -
          $ref: '#/components/parameters/optionsActualStartDates'
        -
          $ref: '#/components/parameters/actualStartDates'
      responses:
        '200':
          $ref: '#/components/responses/MemberCompetitionResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getMemberCompetitions
      summary: Returns a list of competitions for a specific member
      description: >-
        Returns a list of competitions that the member can participate in (filtering will be done
        automatically for member group eligibility).


        `The default behaviour of a response is that the competitions that are in Ready, Active or
        Finished state AND are eligible for ALL and eligible for the member Id requested will be
        returned unless queried otherwise.`


        This assumes that competitions have first been created using the web console otherwise no data
        will be returned and the value of the "totalRecordsFound" variable in metadata will be 0.


        GET responses can be filtered out based on the competition parameters to narrow down the
        results.


        The denser the queryable URL the more precise the response will be.



        Sort by fields is limited to:

        * created (DateTime of the competition creation)

        * label (the label of the competition)

        * scheduled start and end DateTime

        * actual start and end DateTime

        * status code that indicates the status of the competition


        Example:


        ?_sortByFields=created


        ?_sortByFields=label


        ?_sortByFields=options.scheduledDates.start


        ?_sortByFields=options.scheduledDates.end


        ?_sortByFields=options.actualDates.start


        ?_sortByFields=options.actualDates.end


        ?_sortByFields=statusCode
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/competitions/{competitionId}/optin':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/competitionIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberOptinResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Competition does not require opt in or Competition has finished or member has already
            opted in
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or member with requested id not found.
      security:
        -
          apiKey: []
      operationId: optinMemberToCompetition
      summary: Opt in a member in a competition
      description: |-
        Allows a member to opt-in into an existing Competition using an existing Member Id.

        Use
        `/api/v1/:space/members/:memberId/competition/:competitionId/entrants`
        or
        `/api/v1/:space/members/reference/:memberRefId/competition/:competitionId/entrants`

        API endpoint to determine if a Member is already Opted in to a Competition.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/competitions/{competitionId}/entrants':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/competitionIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Member has not opted in
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: checkMemberOptinStatus
      summary: Returns details if the member has opted in
      description: Check if a member is opted into a Competition using a Member Id.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/award/{awardId}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-awards
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/awardIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAwardByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAwardByIdAndMemberId
      summary: Returns specific award for a member
      description: |-
        Returns the an award for a given member ID

        You can retrieve an award id using GET Messages public API endpoint and querying the `prize`.

        EXAMPLE

        `GET /api/v1/:space/members/:memberId/messages?prize.memberId=:memberId`

        The response prize id is the awardId that is needed for the Request URL
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/{memberId}/award/{awardId}/award':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-awards
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/awardIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAwardByIdResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Award already claimed
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Award has expired
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >-
            The X-API-KEY or space name is incorrect or Member with requested id does not exist or
            award does not exist.
      security:
        -
          apiKey: []
      operationId: claimAwardByIdAndMemberId
      summary: Claim a specific award for a member
      description: >
        Claims an Award for a given Member ID. This is only applicable when an award needs to be
        claimed.


        You can retrieve an award id using GET Messages public API endpoint and querying the `prize`.


        EXAMPLE


        `GET /api/v1/:space/members/:memberId/messages?prize.memberId=:memberId`


        The response prize id is the awardId that is needed for the Request URL
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - members
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMemberByRefId
      summary: Returns the member by requested id
      description: Returns the information for a given Member Reference ID
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/messages/':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-messages
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/eventRefType'
        -
          $ref: '#/components/parameters/eventReferenceId'
        -
          $ref: '#/components/parameters/messageType'
        -
          $ref: '#/components/parameters/subject'
        -
          $ref: '#/components/parameters/prizeRewardEntityType'
        -
          $ref: '#/components/parameters/prizeRewardEntityId'
        -
          $ref: '#/components/parameters/prizeRewardRank'
        -
          $ref: '#/components/parameters/prizeRewardValue'
        -
          $ref: '#/components/parameters/prizeRewardType'
        -
          $ref: '#/components/parameters/prizeRewardDelay'
        -
          $ref: '#/components/parameters/prizeRewardMemAckReqd'
        -
          $ref: '#/components/parameters/prizeRewardMetadataKey'
        -
          $ref: '#/components/parameters/prizeRewardMetadataValue'
        -
          $ref: '#/components/parameters/prizeRewardCreated'
        -
          $ref: '#/components/parameters/prizeRewardId'
        -
          $ref: '#/components/parameters/prizeClaimed'
        -
          $ref: '#/components/parameters/prizeEntityType'
        -
          $ref: '#/components/parameters/prizeEntityId'
        -
          $ref: '#/components/parameters/prizeCreated'
        -
          $ref: '#/components/parameters/prizeId'
        -
          $ref: '#/components/parameters/messageStatus'
        -
          $ref: '#/components/parameters/created'
        -
          $ref: '#/components/parameters/metadataKey'
        -
          $ref: '#/components/parameters/metadataValue'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMessagesByMemberRefId
      summary: Returns messages for a member by requested reference id
      description: >-
        Returns a list of available messages for the specified member Reference ID.


        GET responses can be filtered out based on the member messages parameters to narrow down the
        results.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/messages/{id}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-messages
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/idAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getMessageByIdAndMemberRefId
      summary: Returns messages for a member by requested id
      description: >-
        Returns member message details for the member and message ID specified. When a message with a
        status of New is accessed by this endpoint then the status of the message becomes Read
        automatically.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/achievements':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAchievementsByMemberRefId
      summary: Returns achievements for a member
      description: >-
        Returns a progression list of achieved percentages based on the configured achievements rules
        for a specified member.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/achievements/issued':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/AchievementIssuedResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getIssuedAchievementsByMemberRefId
      summary: Returns achievements issued for a member
      description: >-
        Returns an aggregated list of achieved achievement IDs for a specified member with a count
        that indicates the amount of times this achievement was issued for the specified memerId.


        If there is no achievement data inside the events stream for a specified user no data returned
        and the value of the "totalRecordsFound" variable in metadata is 0.


        `All the achievements, including deprecated/archived ones, that were issued to the member are
        displayed.`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/achievements/{achievementId}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/achievementIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAchievementByIdAndMemberRefId
      summary: Returns specific achievement for a member
      description: >+
        Returns a progression list of achieved percentages based on the configured achievements rules
        for a specified member.

      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/competitions':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/optionsActualEndDates'
        -
          $ref: '#/components/parameters/actualEndDates'
        -
          $ref: '#/components/parameters/productsProductRefId'
        -
          $ref: '#/components/parameters/productRefId'
        -
          $ref: '#/components/parameters/productMetadataKey'
        -
          $ref: '#/components/parameters/productsMetadataValue'
        -
          $ref: '#/components/parameters/optionsProductRefId'
        -
          $ref: '#/components/parameters/compStatusString'
        -
          $ref: '#/components/parameters/compStatusCode'
        -
          $ref: '#/components/parameters/optionsLimitEntrantsTo'
        -
          $ref: '#/components/parameters/limitEntrantsTo'
        -
          $ref: '#/components/parameters/optionsScheduledStartDates'
        -
          $ref: '#/components/parameters/scheduledStartDates'
        -
          $ref: '#/components/parameters/optionsScheduledEndDates'
        -
          $ref: '#/components/parameters/scheduledEndDates'
        -
          $ref: '#/components/parameters/optionsActualStartDates'
        -
          $ref: '#/components/parameters/actualStartDates'
      responses:
        '200':
          $ref: '#/components/responses/MemberCompetitionResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getCompetitionsByMemberRefId
      summary: Returns a list of competitions for a specific member
      description: >-
        Returns a list of competitions that the member can participate in (filtering will be done
        automatically for member group eligibility).


        `The default behaviour of a response is that the competitions that are in Ready, Active or
        Finished state AND are eligible for ALL and eligible for the member Id requested will be
        returned unless queried otherwise.`


        This assumes that competitions have first been created using the web console otherwise no data
        will be returned and the value of the "totalRecordsFound" variable in metadata will be 0.


        GET responses can be filtered out based on the competition parameters to narrow down the
        results.


        The denser the queryable URL the more precise the response will be.



        Sort by fields is limited to:

        * created (DateTime of the competition creation)

        * label (the label of the competition)

        * scheduled start and end DateTime

        * actual start and end DateTime

        * status code that indicates the status of the competition


        Example:


        ?_sortByFields=created


        ?_sortByFields=label


        ?_sortByFields=options.scheduledDates.start


        ?_sortByFields=options.scheduledDates.end


        ?_sortByFields=options.actualDates.start


        ?_sortByFields=options.actualDates.end


        ?_sortByFields=statusCode
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/competitions/{competitionId}/optin':
    summary: Perform operations on competitions
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/competitionIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberOptinResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: >-
            Competition does not require opt in or Competition has finished or member has already
            opted in
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or member with requested id not found.
      security:
        -
          apiKey: []
      operationId: optinMemberToCompetitionByRefId
      summary: Opt in a member in a competition
      description: |-
        Allows a member to opt-in into an existing Competition using an existing Member Id.

        Use
        `/api/v1/:space/members/:memberId/competition/:competitionId/entrants`
        or
        `/api/v1/:space/members/reference/:memberRefId/competition/:competitionId/entrants`

        API endpoint to determine if a Member is already Opted in to a Competition.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/competitions/{competitionId}/entrants':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-competitions
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/competitionIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Member has not opted in
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: checkMemberOptinStatusByRefId
      summary: Returns details if the member has opted in
      description: Check if a member is opted into a Competition using a Member Id.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/award/{awardId}':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-awards
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/awardIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAwardByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect or Member with requested id does not exist.
      security:
        -
          apiKey: []
      operationId: getAwardByIdAndMemberRefId
      summary: Returns specific award for a member
      description: |-
        Returns the an award for a given member ID

        You can retrieve an award id using GET Messages public API endpoint and querying the `prize`.

        EXAMPLE

        `GET /api/v1/:space/members/:memberId/messages?prize.memberId=:memberId`

        The response prize id is the awardId that is needed for the Request URL
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/members/reference/{memberRefId}/award/{awardId}/award':
    summary: Perform operations on operations on a specific member
    description: ''
    get:
      tags:
        - member-awards
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/awardIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/MemberAwardByIdResponseBody'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Award already claimed
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Award has expired
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: >-
            The X-API-KEY or space name is incorrect or Member with requested id does not exist or
            award does not exist.
      security:
        -
          apiKey: []
      operationId: claimAwardByIdAndMemberRefId
      summary: Claim a specific award for a member
      description: >
        Claims an Award for a given Member ID. This is only applicable when an award needs to be
        claimed.


        You can retrieve an award id using GET Messages public API endpoint and querying the `prize`.


        EXAMPLE


        `GET /api/v1/:space/members/:memberId/messages?prize.memberId=:memberId`


        The response prize id is the awardId that is needed for the Request URL
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/achievements':
    summary: Perform operations on achievements
    description: ''
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/achDeprecated'
        -
          $ref: '#/components/parameters/achLiveStatus'
        -
          $ref: '#/components/parameters/achVisibleOrhidden'
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          apiKey: []
      operationId: getAchievements
      summary: Returns a list of achievements
      description: >-
        Returns a simplified list of available Achievements.


        This assumes that achievements have first been created using the web console. Otherwise no
        data is returned and the value of the "totalRecordsFound" variable in the metadata section of
        the response is 0.


        GET responses can be filtered out based on the achievement parameters to narrow down the
        results.


        `Requesting a list of Achievements a response will show Achievements that are in Live state
        and/or Expired.`



        `Achievements that are in Draft state or Deprecated - will not be displayed.`



        Include query parameter options are:


        `?_include=ruleSets`

        `?_include=dependantOn`

        `?_include=products`

        `?_include=metadata`

        `?_include=rewards`


        or multiple at the same time:

        `?_include=products,metadata,ruleSets,dependantOn,rewards`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/achievements/{id}':
    summary: Perform operations on achievements
    description: ''
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
      responses:
        '200':
          $ref: '#/components/responses/AchievementByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getAchievementsById
      summary: Returns an achievement by id
      description: >-
        Returns public facing achievement information for the specified achievement identifier. The
        response object can be expanded depending on the query include parameter.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/achievements/members/{memberId}':
    summary: Perform operations on achievements
    description: ''
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/achDeprecated'
        -
          $ref: '#/components/parameters/achLiveStatus'
        -
          $ref: '#/components/parameters/achVisibleOrhidden'
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          apiKey: []
      operationId: getMemberAchievements
      summary: Returns a list of achievements for a specific member
      description: >-
        Returns a simplified list of available Achievements.


        This assumes that achievements have first been created using the web console. Otherwise no
        data is returned and the value of the "totalRecordsFound" variable in the metadata section of
        the response is 0.


        GET responses can be filtered out based on the achievement parameters to narrow down the
        results.


        `Requesting a list of Achievements a response will show Achievements that are in Live state
        and/or Expired.`



        `Achievements that are in Draft state or Deprecated - will not be displayed.`



        Include query parameter options are:


        `?_include=ruleSets`

        `?_include=dependantOn`

        `?_include=products`

        `?_include=metadata`

        `?_include=rewards`


        or multiple at the same time:

        `?_include=products,metadata,ruleSets,dependantOn,rewards`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/achievements/members/reference/{memberRefId}':
    summary: Perform operations on achievements
    description: ''
    get:
      tags:
        - achievements
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/achDeprecated'
        -
          $ref: '#/components/parameters/achLiveStatus'
        -
          $ref: '#/components/parameters/achVisibleOrhidden'
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          apiKey: []
      operationId: getMemberAchievementsByRefId
      summary: Returns a list of achievements by member ref id
      description: >-
        Returns a simplified list of available Achievements.


        This assumes that achievements have first been created using the web console. Otherwise no
        data is returned and the value of the "totalRecordsFound" variable in the metadata section of
        the response is 0.


        GET responses can be filtered out based on the achievement parameters to narrow down the
        results.


        `Requesting a list of Achievements a response will show Achievements that are in Live state
        and/or Expired.`



        `Achievements that are in Draft state or Deprecated - will not be displayed.`



        Include query parameter options are:


        `?_include=ruleSets`

        `?_include=dependantOn`

        `?_include=products`

        `?_include=metadata`

        `?_include=rewards`


        or multiple at the same time:

        `?_include=products,metadata,ruleSets,dependantOn,rewards`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/widget':
    summary: Perform operations on widgets
    description: ''
    get:
      tags:
        - widgets
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idsAsQueryVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
        -
          $ref: '#/components/parameters/sortByFields'
        -
          $ref: '#/components/parameters/includeFields'
        -
          $ref: '#/components/parameters/lang'
        -
          $ref: '#/components/parameters/equalTo'
        -
          $ref: '#/components/parameters/doubleEqualTo'
        -
          $ref: '#/components/parameters/lessThanEqualTo'
        -
          $ref: '#/components/parameters/lessThanDoubleEqualTo'
        -
          $ref: '#/components/parameters/greaterThanEqualTo'
        -
          $ref: '#/components/parameters/greaterThanDoubleEqualTo'
      responses:
        '200':
          $ref: '#/components/responses/WidgetResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getWidgets
      summary: Returns a list of widgets
      description: Returns the information for all the widgets.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/widget/{id}':
    summary: Perform operations on widgets
    description: ''
    get:
      tags:
        - widgets
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/idAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/WidgetByIdResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: getWidgetById
      summary: Returns a widget information for specific id
      description: Returns the information for a specific widget
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/widget/preview/{widgetId}':
    summary: Perform operations on widgets
    description: ''
    get:
      tags:
        - widgets
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/widgetIdAsPathVariable'
        -
          $ref: '#/components/parameters/limit'
        -
          $ref: '#/components/parameters/skip'
      responses:
        '200':
          $ref: '#/components/responses/AchievementResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          $ref: '#/components/responses/AchievementResponseBody'
      security:
        -
          apiKey: []
      operationId: getWidgetPreviewById
      summary: Returns the information of live achievements for a given Widget ID
      description: >-
        Returns the information of live achievements for a given Widget ID


        `Achievements that are in the widget but are deprecated/archived will not be shown in the
        response`
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/sse/{memberId}':
    summary: Subscribe to SSE channel
    description: ''
    get:
      tags:
        - sse
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/SseMemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: subscribeSseChannelByMemberId
      summary: Subscribe to SSE channel
      description: Establishes an SSE channel for a specific member id.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/sse/reference/{memberRefId}':
    summary: Subscribe to SSE channel
    description: ''
    get:
      tags:
        - sse
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/SseMemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: subscribeSseChannelByMemberRefId
      summary: Subscribe to SSE channel
      description: Establishes an SSE channel for a specific member ref id.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/sse/{memberId}/heartbeat':
    summary: Subscribe to SSE channel
    description: ''
    get:
      tags:
        - sse
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/SseMemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: subscribeSseChannelHeartbeatByMemberId
      summary: Subscribe to SSE channel
      description: Establishes an SSE channel for a specific member id.
      x-codegen-request-body-name: body
  '/api/v1/{spaceName}/sse/reference/{memberRefId}/heartbeat':
    summary: Subscribe to SSE channel
    description: ''
    get:
      tags:
        - sse
      parameters:
        -
          $ref: '#/components/parameters/xApiKey'
        -
          $ref: '#/components/parameters/spaceName'
        -
          $ref: '#/components/parameters/memberRefIdAsPathVariable'
      responses:
        '200':
          $ref: '#/components/responses/SseMemberMessageResponseBody'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The X-API-KEY is missing
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
          description: The X-API-KEY or space name is incorrect.
      security:
        -
          apiKey: []
      operationId: subscribeSseChannelHeartbeatByMemberRefId
      summary: Subscribe to SSE channel
      description: Establishes an SSE channel for a specific member id.
      x-codegen-request-body-name: body
components:
  schemas:
    ResponseMeta:
      description: 'Response metadata   '
      required:
        - totalRecordsFound
        - skip
        - limit
      type: object
      properties:
        totalRecordsFound:
          format: int32
          description: ''
          type: integer
        skip:
          format: int32
          description: ''
          type: integer
        limit:
          format: int32
          description: ''
          type: integer
        time:
          format: date-time
          description: ''
          type: string
      example: |-
        {
            "time": "2021-10-18T14:59:47.148Z"
            "totalRecordsFound": 73,
            "skip": 10,
            "limit": 25
        }
    ApiErrorResponse:
      description: ''
      type: object
      properties:
        errors:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Error'
      example:
        errors:
          -
            message: 'No account found for space name - [test]'
            code: 1007
            status: 404
    Error:
      description: ''
      required:
        - status
      type: object
      properties:
        message:
          description: ''
          type: string
        code:
          format: int32
          description: ''
          type: integer
        status:
          format: int32
          description: ''
          type: integer
      example:
        message: 'No account found for space name - [test]'
        code: 1007
        status: 404
    RewardType:
      description: ''
      type: object
      properties:
        jsonClass:
          description: ''
          type: string
        name:
          description: ''
          type: string
        key:
          description: ''
          type: string
        description:
          description: ''
          type: string
        accountId:
          description: ''
          type: string
        system:
          description: ''
          type: boolean
        unitOfMeasureType:
          description: ''
          type: string
        created:
          format: date-time
          description: ''
          type: string
        id:
          description: ''
          type: string
        metadata:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
      example:
        jsonClass: RewardType
        name: Some Reward type
        key: my-first-reward-type
        description: My rirst reward type
        accountId: hVQ3P4cB9xnV8CJCr5_h
        system: false
        unitOfMeasureType: Other
        metadata: []
        created: '2021-08-03T11:52:56.691+0000'
        id: RcaBq345s6dVZdx7NFxa
    Metadata:
      description: ''
      type: object
      properties:
        key:
          description: ''
          type: string
        value:
          description: ''
          type: string
      example:
        key: my-first-key
        value: my-first-value
    Reward:
      description: ''
      type: object
      properties:
        jsonClass:
          description: ''
          type: string
        entityType:
          description: ''
          type: string
        entityId:
          description: ''
          type: string
        rewardRank:
          description: ''
          type: array
          items:
            format: int32
            type: integer
        rewardName:
          description: ''
          type: string
        value:
          format: double
          description: ''
          type: number
        rewardType:
          description: ''
          type: string
        description:
          description: ''
          type: string
        delay:
          format: int32
          description: ''
          type: integer
        memberAcknowledgmentRequired:
          description: ''
          type: boolean
        metadata:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Metadata'
        accountId:
          description: ''
          type: string
        period:
          format: int32
          description: ''
          type: integer
        created:
          format: date-time
          description: ''
          type: string
        id:
          description: ''
          type: string
        translations:
          description: ''
          type: string
        rewardTypeObject:
          $ref: '#/components/schemas/RewardType'
          description: ''
      example:
        jsonClass: Reward
        entityType: contest
        entityId: <contestId>
        rewardRank:
          - 1
        rewardName: My first reward
        value: 1
        rewardType: <rewardTypeId>
        description: My first reward description
        delay: 0
        memberAcknowledgmentRequired: false
        metadata: []
        accountId: <accountId>
        period: 0
        created: '2021-09-11T09:48:19.291+0000'
        id: <rewardId>
        translations: {}
        rewardTypeObject:
          jsonClass: RewardType
          name: My first reward type
          key: my-first-reward-type-key
          description: My first reward type
          accountId: <accountId>
          system: false
          unitOfMeasureType: Other
          metadata: []
          created: '2021-09-03T11:52:56.691+0000'
          id: <rewardTypeId>
    Contest:
      description: ''
      type: object
      properties:
        statusCode:
          format: int32
          description: ''
          type: integer
        number:
          format: int32
          description: ''
          type: integer
        actualStart:
          format: date-time
          description: ''
          type: string
        actualEnd:
          format: date-time
          description: ''
          type: string
        entransFromContest:
          description: ''
          type: array
          items:
            type: string
        description:
          description: ''
          type: string
        label:
          description: ''
          type: string
        jsonClass:
          description: ''
          type: string
        rewards:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Reward'
        scheduledStart:
          format: date-time
          description: ''
          type: string
        id:
          description: ''
          type: string
        termsConditions:
          description: ''
          type: string
        status:
          description: ''
          type: string
        scheduledEnd:
          format: date-time
          description: ''
          type: string
        round:
          format: int32
          description: ''
          type: integer
        competitionId:
          description: ''
          type: string
        roundType:
          description: ''
          type: string
      example:
        statusCode: 6
        number: 0
        actualStart: '2021-10-02T00:00:25.675+0000'
        actualEnd: '2021-10-02T00:58:25.724+0000'
        entrantsFromContest: []
        description: my first desc
        label: my first label
        jsonClass: Contest
        rewards:
          -
            jsonClass: Reward
            entityType: contest
            entityId: <contestId>
            rewardRank:
              - 3
            rewardName: my first reward name
            value: 3
            rewardType: <rewardTypeId>
            description: my first desc
            delay: 0
            memberAcknowledgmentRequired: false
            metadata: []
            accountId: <accountId>
            period: 0
            created: '2021-10-01T09:48:19.291+0000'
            id: <rewardId>
            translations: {}
            rewardTypeObject:
              jsonClass: RewardType
              name: my first reward type
              key: my-first-reward-type-key
              description: my first desc
              accountId: <accountId>
              system: false
              unitOfMeasureType: Other
              metadata: []
              created: '2021-09-03T11:52:56.691+0000'
              id: <rewardtypeId>
        scheduledStart: '2021-10-02T00:00:00.000+0000'
        id: <contestId>
        termsConditions: my first terms and conditions
        status: Finalised
        scheduledEnd: '2021-10-02T00:59:00.000+0000'
        round: 1
        competitionId: <competitionId>
        roundType: TimeBound
    ContestResponse:
      description: ''
      required: []
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
          description: ''
        data:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Contest'
        errors:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Error'
      example:
        meta:
          time: '2021-10-03T16:32:53.296Z'
          totalRecordsFound: 253
          skip: 0
          limit: 2
        data:
          -
            statusCode: 6
            number: 0
            actualStart: '2021-10-02T00:00:25.675+0000'
            actualEnd: '2021-10-02T00:58:25.724+0000'
            entrantsFromContest: []
            description: my first desc
            label: my first label
            jsonClass: Contest
            rewards:
              -
                jsonClass: Reward
                entityType: contest
                entityId: <contestId>
                rewardRank:
                  - 3
                rewardName: my first reward name
                value: 3
                rewardType: <rewardTypeId>
                description: my first desc
                delay: 0
                memberAcknowledgmentRequired: false
                metadata: []
                accountId: <accountId>
                period: 0
                created: '2021-10-01T09:48:19.291+0000'
                id: <rewardId>
                translations: {}
                rewardTypeObject:
                  jsonClass: RewardType
                  name: my first reward type
                  key: my-first-reward-type-key
                  description: my first desc
                  accountId: <accountId>
                  system: false
                  unitOfMeasureType: Other
                  metadata: []
                  created: '2021-09-03T11:52:56.691+0000'
                  id: <rewardtypeId>
            scheduledStart: '2021-10-02T00:00:00.000+0000'
            id: <contestId>
            termsConditions: my first terms and conditions
            status: Finalised
            scheduledEnd: '2021-10-02T00:59:00.000+0000'
            round: 1
            competitionId: <competitionId>
            roundType: TimeBound
          -
            statusCode: 6
            number: 0
            actualStart: '2021-10-02T00:00:25.675+0000'
            actualEnd: '2021-10-02T00:58:25.724+0000'
            entrantsFromContest: []
            description: my first desc
            label: my first label
            jsonClass: Contest
            rewards:
              -
                jsonClass: Reward
                entityType: contest
                entityId: <contestId>
                rewardRank:
                  - 3
                rewardName: my first reward name
                value: 3
                rewardType: <rewardTypeId>
                description: my first desc
                delay: 0
                memberAcknowledgmentRequired: false
                metadata: []
                accountId: <accountId>
                period: 0
                created: '2021-10-01T09:48:19.291+0000'
                id: <rewardId>
                translations: {}
                rewardTypeObject:
                  jsonClass: RewardType
                  name: my first reward type
                  key: my-first-reward-type-key
                  description: my first desc
                  accountId: <accountId>
                  system: false
                  unitOfMeasureType: Other
                  metadata: []
                  created: '2021-09-03T11:52:56.691+0000'
                  id: <rewardtypeId>
            scheduledStart: '2021-10-02T00:00:00.000+0000'
            id: <contestId>
            termsConditions: my first terms and conditions
            status: Finalised
            scheduledEnd: '2021-10-02T00:59:00.000+0000'
            round: 1
            competitionId: <competitionId>
            roundType: TimeBound
        errors:
          -
            message: 'No account found for space name - [test]'
            code: 1007
            status: 404
    ContestByIdResponse:
      description: ''
      required: []
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Contest'
          description: ''
        time:
          format: date-time
          description: ''
          type: string
        errors:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Error'
      example:
        data:
          statusCode: 6
          number: 0
          actualStart: '2021-10-02T00:00:25.675+0000'
          actualEnd: '2021-10-02T00:58:25.724+0000'
          entrantsFromContest: []
          description: my first desc
          label: my first label
          jsonClass: Contest
          rewards:
            -
              jsonClass: Reward
              entityType: contest
              entityId: <contestId>
              rewardRank:
                - 3
              rewardName: my first reward name
              value: 3
              rewardType: <rewardTypeId>
              description: my first desc
              delay: 0
              memberAcknowledgmentRequired: false
              metadata: []
              accountId: <accountId>
              period: 0
              created: '2021-10-01T09:48:19.291+0000'
              id: <rewardId>
              translations: {}
              rewardTypeObject:
                jsonClass: RewardType
                name: my first reward type
                key: my-first-reward-type-key
                description: my first desc
                accountId: <accountId>
                system: false
                unitOfMeasureType: Other
                metadata: []
                created: '2021-09-03T11:52:56.691+0000'
                id: <rewardtypeId>
          scheduledStart: '2021-10-02T00:00:00.000+0000'
          id: <contestId>
          termsConditions: my first terms and conditions
          status: Finalised
          scheduledEnd: '2021-10-02T00:59:00.000+0000'
          round: 1
          competitionId: <competitionId>
          roundType: TimeBound
        time: '2021-10-02T13:21:47.630Z'
        errors:
          -
            message: 'No account found for space name - [test]'
            code: 1007
            status: 404
    CompetitionByIdResponse:
      description: ''
      required: []
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Competition'
          description: ''
        time:
          format: date-time
          description: ''
          type: string
        errors:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Error'
      example:
        data:
          statusCode: 7
          numberOfRounds: 1
          description: my first desc
          optinRequired: true
          label: my first label
          actualStart: '2021-10-02T00:00:05.666+0000'
          actualEnd: '2021-10-02T00:59:45.781+0000'
          contests:
            -
              statusCode: 6
              number: 0
              actualStart: '2021-10-02T00:00:25.675+0000'
              actualEnd: '2021-10-02T00:58:25.724+0000'
              entrantsFromContest: []
              description: my first desc
              label: my first label
              jsonClass: Contest
              rewards:
                -
                  jsonClass: Reward
                  entityType: contest
                  entityId: <contestId>
                  rewardRank:
                    - 3
                  rewardName: my first reward name
                  value: 25
                  rewardType: <rewardTypeId>
                  description: my first desc
                  delay: 0
                  memberAcknowledgmentRequired: false
                  metadata: []
                  accountId: <accountId>
                  period: 0
                  created: '2021-10-01T09:48:19.291+0000'
                  id: <rewardId>
                  translations: {}
                  rewardTypeObject:
                    jsonClass: RewardType
                    name: my first reward type
                    key: my-first-reward-type-key
                    description: my first desc
                    accountId: <accountId>
                    system: false
                    unitOfMeasureType: Other
                    metadata: []
                    created: '2021-09-03T11:52:56.691+0000'
                    id: <rewardtypeId>
              scheduledStart: '2021-10-02T00:00:00.000+0000'
              id: <contestId>
              termsConditions: my first terms and conditions
              status: Finalised
              scheduledEnd: '2021-10-02T00:59:00.000+0000'
              round: 1
              competitionId: <competitionId>
              roundType: TimeBound
          scheduledStart: '2021-10-02T00:00:00.000+0000'
          id: <competitionId>
          termsConditions: my first terms and conditions
          status: Finished
          scheduledEnd: '2021-10-02T00:59:00.000+0000'
        time: '2021-10-02T13:21:47.630Z'
        errors:
          -
            message: 'No account found for space name - [test]'
            code: 1007
            status: 404
    CompetitionById:
      description: ''
      type: object
      allOf:
        -
          $ref: '#/components/schemas/Competition'
      properties:
        contests:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Contest'
      example:
        statusCode: 7
        numberOfRounds: 1
        description: my first desc
        optinRequired: true
        label: my first label
        actualStart: '2021-10-02T00:00:05.666+0000'
        actualEnd: '2021-10-02T00:59:45.781+0000'
        contests:
          -
            statusCode: 6
            number: 0
            actualStart: '2021-10-02T00:00:25.675+0000'
            actualEnd: '2021-10-02T00:58:25.724+0000'
            entrantsFromContest: []
            description: my first desc
            label: my first label
            jsonClass: Contest
            rewards:
              -
                jsonClass: Reward
                entityType: contest
                entityId: <contestId>
                rewardRank:
                  - 3
                rewardName: my first reward name
                value: 25
                rewardType: <rewardTypeId>
                description: my first desc
                delay: 0
                memberAcknowledgmentRequired: false
                metadata: []
                accountId: <accountId>
                period: 0
                created: '2021-10-01T09:48:19.291+0000'
                id: <rewardId>
                translations: {}
                rewardTypeObject:
                  jsonClass: RewardType
                  name: my first reward type
                  key: my-first-reward-type-key
                  description: my first desc
                  accountId: <accountId>
                  system: false
                  unitOfMeasureType: Other
                  metadata: []
                  created: '2021-09-03T11:52:56.691+0000'
                  id: <rewardtypeId>
            scheduledStart: '2021-10-02T00:00:00.000+0000'
            id: <contestId>
            termsConditions: my first terms and conditions
            status: Finalised
            scheduledEnd: '2021-10-02T00:59:00.000+0000'
            round: 1
            competitionId: <competitionId>
            roundType: TimeBound
        scheduledStart: '2021-10-02T00:00:00.000+0000'
        id: <competitionId>
        termsConditions: my first terms and conditions
        status: Finished
        scheduledEnd: '2021-10-02T00:59:00.000+0000'
    Competition:
      description: ''
      required: []
      type: object
      properties:
        statusCode:
          format: int32
          description: ''
          type: integer
        numberOfRounds:
          format: int32
          description: ''
          type: integer
        actualStart:
          format: date-time
          description: ''
          type: string
        actualEnd:
          format: date-time
          description: ''
          type: string
        description:
          description: ''
          type: string
        optinRequired:
          description: ''
          type: boolean
        label:
          description: ''
          type: string
        scheduledStart:
          format: date-time
          description: ''
          type: string
        scheduledEnd:
          format: date-time
          description: ''
          type: string
        id:
          description: ''
          type: string
        termsConditions:
          description: ''
          type: string
        status:
          description: ''
          type: string
      example:
        statusCode: 7
        actualStart: '2018-05-03T14:03:06.884+00:00'
        actualEnd: '2018-05-11T19:00:00.859+00:00'
        numberOfRounds: 1
        description: |-
          T&C:
          1. Lorem ipsum dolor sit amet
          2. consectetur adipiscing elit
          3. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        optinRequired: false
        label: All For One And One For All!
        scheduledStart: '2018-05-03T16:00:00.000+00:00'
        id: dPJGJmNBo6YLmk6mqxcB
        termsConditions: ''
        status: Finished
        scheduledEnd: '2018-05-11T19:00:00.000+00:00'
    CompetitionResponse:
      description: ''
      required: []
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ResponseMeta'
          description: ''
        data:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Competition'
        errors:
          description: ''
          type: array
          items:
            $ref: '#/components/schemas/Error'
      example:
        meta:
          time: '2021-10-18T14:59:47.148Z'
          totalRecordsFound: 73
          skip: 10
          limit: 2
        data:
          -
            statusCode: 7
            actualStart: '2018-05-03T14:03:06.884+00:00'
            actualEnd: '2018-05-11T19:00:00.859+00:00'
            numberOfRounds: 1
            description: |-
              T&C:
              1. Lorem ipsum dolor sit amet
              2. consectetur adipiscing elit
              3. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            optinRequired: false
            label: All For One And One For All!
            scheduledStart: '2018-05-03T16:00:00.000+00:00'
            id: <competitionId>
            termsConditions: ''
            status: Finished
            scheduledEnd: '2018-05-11T19:00:00.000+00:00'
          -
            statusCode: 3
            actualStart: '2018-06-03T14:03:06.884+00:00'
            actualEnd: '2018-06-11T19:00:00.859+00:00'
            numberOfRounds: 1
            description: |-
              T&C:
              1. Lorem ipsum dolor sit amet
              2. consectetur adipiscing elit
              3. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            optinRequired: false
            label: Fruits - All For One And One For All!
            scheduledStart: '2018-06-03T16:00:00.000+00:00'
            id: <competitionId>
[...]
