/*
* Copyright (c) 2022. ZIQNI LTD registered in England and Wales, company registration number-09693684
*/
/*
 * Ziqni Gateway Services
 * These are the Gateway services to be used by customers.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gateway.client.api;

import com.ziqni.gateway.client.StreamingClient;
import com.ziqni.gateway.client.ApiClient;
import com.ziqni.gateway.client.ApiException;
import com.ziqni.gateway.client.ApiResponse;
import com.ziqni.gateway.client.Pair;
import com.ziqni.gateway.client.ws.WsCompletableFuture;
import com.ziqni.gateway.client.model.ApiErrorResponse;
import com.ziqni.gateway.client.model.Error;
import com.ziqni.gateway.client.model.MemberResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class MembersApiWs extends MembersApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public MembersApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Returns the member by requested id
        * Returns the information for a given Member id
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param id Unique identifier of the resource (required)
            * @return CompletableFuture&lt;MemberResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberResponse> getMemberById(String X_API_KEY, String spaceName, String id) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("id", id);
        request.put("path",pathParam);
        

        CompletableFuture<MemberResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getMemberById", request);
        return result;
        }
        /**
        * Returns the member by requested id
        * Returns the information for a given Member Reference ID
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberRefId Reference Id of a Member (required)
            * @return CompletableFuture&lt;MemberResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberResponse> getMemberByRefId(String X_API_KEY, String spaceName, String memberRefId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberRefId", memberRefId);
        request.put("path",pathParam);
        

        CompletableFuture<MemberResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getMemberByRefId", request);
        return result;
        }
        }
