/*
* Copyright (c) 2022. ZIQNI LTD registered in England and Wales, company registration number-09693684
*/
/*
 * Ziqni Gateway Services
 * These are the Gateway services to be used by customers.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gateway.client.api;

import com.ziqni.gateway.client.StreamingClient;
import com.ziqni.gateway.client.ApiClient;
import com.ziqni.gateway.client.ApiException;
import com.ziqni.gateway.client.ApiResponse;
import com.ziqni.gateway.client.Pair;
import com.ziqni.gateway.client.ws.WsCompletableFuture;
import com.ziqni.gateway.client.model.ApiErrorResponse;
import com.ziqni.gateway.client.model.Error;
import com.ziqni.gateway.client.model.MemberAwardByIdResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class MemberAwardsApiWs extends MemberAwardsApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public MemberAwardsApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Claim a specific award for a member
        * Claims an Award for a given Member ID. This is only applicable when an award needs to be claimed.  You can retrieve an award id using GET Messages public API endpoint and querying the &#x60;prize&#x60;.  EXAMPLE  &#x60;GET /api/v1/:space/members/:memberId/messages?prize.memberId&#x3D;:memberId&#x60;  The response prize id is the awardId that is needed for the Request URL 
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberId Id of a Member (required)
            * @param awardId Id of the award (required)
            * @return CompletableFuture&lt;MemberAwardByIdResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberAwardByIdResponse> claimAwardByIdAndMemberId(String X_API_KEY, String spaceName, String memberId, String awardId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberId", memberId);
pathParam.put("awardId", awardId);
        request.put("path",pathParam);
        

        CompletableFuture<MemberAwardByIdResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/claimAwardByIdAndMemberId", request);
        return result;
        }
        /**
        * Claim a specific award for a member
        * Claims an Award for a given Member ID. This is only applicable when an award needs to be claimed.  You can retrieve an award id using GET Messages public API endpoint and querying the &#x60;prize&#x60;.  EXAMPLE  &#x60;GET /api/v1/:space/members/:memberId/messages?prize.memberId&#x3D;:memberId&#x60;  The response prize id is the awardId that is needed for the Request URL 
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberRefId Reference Id of a Member (required)
            * @param awardId Id of the award (required)
            * @return CompletableFuture&lt;MemberAwardByIdResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberAwardByIdResponse> claimAwardByIdAndMemberRefId(String X_API_KEY, String spaceName, String memberRefId, String awardId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberRefId", memberRefId);
pathParam.put("awardId", awardId);
        request.put("path",pathParam);
        

        CompletableFuture<MemberAwardByIdResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/claimAwardByIdAndMemberRefId", request);
        return result;
        }
        /**
        * Returns specific award for a member
        * Returns the an award for a given member ID  You can retrieve an award id using GET Messages public API endpoint and querying the &#x60;prize&#x60;.  EXAMPLE  &#x60;GET /api/v1/:space/members/:memberId/messages?prize.memberId&#x3D;:memberId&#x60;  The response prize id is the awardId that is needed for the Request URL
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberId Id of a Member (required)
            * @param awardId Id of the award (required)
            * @return CompletableFuture&lt;MemberAwardByIdResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberAwardByIdResponse> getAwardByIdAndMemberId(String X_API_KEY, String spaceName, String memberId, String awardId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberId", memberId);
pathParam.put("awardId", awardId);
        request.put("path",pathParam);
        

        CompletableFuture<MemberAwardByIdResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getAwardByIdAndMemberId", request);
        return result;
        }
        /**
        * Returns specific award for a member
        * Returns the an award for a given member ID  You can retrieve an award id using GET Messages public API endpoint and querying the &#x60;prize&#x60;.  EXAMPLE  &#x60;GET /api/v1/:space/members/:memberId/messages?prize.memberId&#x3D;:memberId&#x60;  The response prize id is the awardId that is needed for the Request URL
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberRefId Reference Id of a Member (required)
            * @param awardId Id of the award (required)
            * @return CompletableFuture&lt;MemberAwardByIdResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<MemberAwardByIdResponse> getAwardByIdAndMemberRefId(String X_API_KEY, String spaceName, String memberRefId, String awardId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberRefId", memberRefId);
pathParam.put("awardId", awardId);
        request.put("path",pathParam);
        

        CompletableFuture<MemberAwardByIdResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getAwardByIdAndMemberRefId", request);
        return result;
        }
        }
