/*
 * Ziqni Gateway Services
 * These are the Gateway services to be used by customers.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gateway.client.api;

import com.ziqni.gateway.client.ApiClient;
import com.ziqni.gateway.client.ApiException;
import com.ziqni.gateway.client.ApiResponse;
import com.ziqni.gateway.client.Pair;

import com.ziqni.gateway.client.model.ApiErrorResponse;
import com.ziqni.gateway.client.model.Error;
import com.ziqni.gateway.client.model.MemberMessageResponse;
import java.time.OffsetDateTime;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.Consumer;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
public class MemberMessagesApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;

  public MemberMessagesApi() {
    this(new ApiClient());
  }

  public MemberMessagesApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
  }

  private ApiException getApiException(String operationId, HttpResponse<String> response) {
    String message = formatExceptionMessage(operationId, response.statusCode(), response.body());
    return new ApiException(response.statusCode(), message, response.headers(), response.body());
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * Returns messages for a member by requested id
   * Returns member message details for the member and message ID specified. When a message with a status of New is accessed by this endpoint then the status of the message becomes Read automatically.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberId Id of a Member (required)
   * @param id Unique identifier of the resource (required)
   * @return CompletableFuture&lt;MemberMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<MemberMessageResponse> getMessageByIdAndMemberId(String X_API_KEY, String spaceName, String memberId, String id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessageByIdAndMemberIdRequestBuilder(X_API_KEY, spaceName, memberId, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessageByIdAndMemberId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {})
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
      });
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  /**
   * Returns messages for a member by requested id
   * Returns member message details for the member and message ID specified. When a message with a status of New is accessed by this endpoint then the status of the message becomes Read automatically.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberId Id of a Member (required)
   * @param id Unique identifier of the resource (required)
   * @return CompletableFuture&lt;ApiResponse&lt;MemberMessageResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<ApiResponse<MemberMessageResponse>> getMessageByIdAndMemberIdWithHttpInfo(String X_API_KEY, String spaceName, String memberId, String id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessageByIdAndMemberIdRequestBuilder(X_API_KEY, spaceName, memberId, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessageByIdAndMemberId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  new ApiResponse<MemberMessageResponse>(
                      localVarResponse.statusCode(),
                      localVarResponse.headers().map(),
                      memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {}))
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
        }
      );
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  private HttpRequest.Builder getMessageByIdAndMemberIdRequestBuilder(String X_API_KEY, String spaceName, String memberId, String id) throws ApiException {
    // verify the required parameter 'X_API_KEY' is set
    if (X_API_KEY == null) {
      throw new ApiException(400, "Missing the required parameter 'X_API_KEY' when calling getMessageByIdAndMemberId");
    }
    // verify the required parameter 'spaceName' is set
    if (spaceName == null) {
      throw new ApiException(400, "Missing the required parameter 'spaceName' when calling getMessageByIdAndMemberId");
    }
    // verify the required parameter 'memberId' is set
    if (memberId == null) {
      throw new ApiException(400, "Missing the required parameter 'memberId' when calling getMessageByIdAndMemberId");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getMessageByIdAndMemberId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/{spaceName}/members/{memberId}/messages/{id}"
        .replace("{spaceName}", ApiClient.urlEncode(spaceName.toString()))
        .replace("{memberId}", ApiClient.urlEncode(memberId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (X_API_KEY != null) {
      localVarRequestBuilder.header("X-API-KEY", X_API_KEY.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Returns messages for a member by requested id
   * Returns member message details for the member and message ID specified. When a message with a status of New is accessed by this endpoint then the status of the message becomes Read automatically.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberRefId Reference Id of a Member (required)
   * @param id Unique identifier of the resource (required)
   * @return CompletableFuture&lt;MemberMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<MemberMessageResponse> getMessageByIdAndMemberRefId(String X_API_KEY, String spaceName, String memberRefId, String id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessageByIdAndMemberRefIdRequestBuilder(X_API_KEY, spaceName, memberRefId, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessageByIdAndMemberRefId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {})
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
      });
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  /**
   * Returns messages for a member by requested id
   * Returns member message details for the member and message ID specified. When a message with a status of New is accessed by this endpoint then the status of the message becomes Read automatically.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberRefId Reference Id of a Member (required)
   * @param id Unique identifier of the resource (required)
   * @return CompletableFuture&lt;ApiResponse&lt;MemberMessageResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<ApiResponse<MemberMessageResponse>> getMessageByIdAndMemberRefIdWithHttpInfo(String X_API_KEY, String spaceName, String memberRefId, String id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessageByIdAndMemberRefIdRequestBuilder(X_API_KEY, spaceName, memberRefId, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessageByIdAndMemberRefId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  new ApiResponse<MemberMessageResponse>(
                      localVarResponse.statusCode(),
                      localVarResponse.headers().map(),
                      memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {}))
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
        }
      );
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  private HttpRequest.Builder getMessageByIdAndMemberRefIdRequestBuilder(String X_API_KEY, String spaceName, String memberRefId, String id) throws ApiException {
    // verify the required parameter 'X_API_KEY' is set
    if (X_API_KEY == null) {
      throw new ApiException(400, "Missing the required parameter 'X_API_KEY' when calling getMessageByIdAndMemberRefId");
    }
    // verify the required parameter 'spaceName' is set
    if (spaceName == null) {
      throw new ApiException(400, "Missing the required parameter 'spaceName' when calling getMessageByIdAndMemberRefId");
    }
    // verify the required parameter 'memberRefId' is set
    if (memberRefId == null) {
      throw new ApiException(400, "Missing the required parameter 'memberRefId' when calling getMessageByIdAndMemberRefId");
    }
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getMessageByIdAndMemberRefId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/{spaceName}/members/reference/{memberRefId}/messages/{id}"
        .replace("{spaceName}", ApiClient.urlEncode(spaceName.toString()))
        .replace("{memberRefId}", ApiClient.urlEncode(memberRefId.toString()))
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    if (X_API_KEY != null) {
      localVarRequestBuilder.header("X-API-KEY", X_API_KEY.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Returns messages for a member by requested id
   * Returns a list of available messages for the specified memberId.  GET responses can be filtered out based on the member messages parameters to narrow down the results.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param id The unique identifiers of the resources (optional
   * @param eventRefType Defines an event type attached to the message. Case sensitive Supported values - &#x60;CompetitionType&#x60; &#x60;ContestType&#x60; &#x60;AchievementType&#x60;  &#x60;?eventRefType&#x3D;search_string&#x60; (optional)
   * @param eventReferenceId The reference ID of the event object. Case sensitive   &#x60;?eventReferenceId&#x3D;search_string&#x60; (optional)
   * @param messageType The type of message of the member. Case sensitive Supported values - &#x60;Notification&#x60; &#x60;Achievement&#x60; &#x60;Reward&#x60;  &#x60;?messageType&#x3D;search_string&#x60; (optional)
   * @param subject The title of the message. Case sensitive  &#x60;?subject&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityType Can be achievement or contest. Case sensitive Supported values - &#x60;Achievement&#x60; &#x60;Contest&#x60;  &#x60;?prize.reward.entityType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityId Achievement id or Contest id. Case sensitive   &#x60;?prize.reward.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeRewardRewardRank If used in the context of contest this will associate with the rank of the leaderboard. Case sensitive  &#x60;?prize.reward.rewardRank&#x3D;search_string&#x60; (optional)
   * @param prizeRewardValue Numerical value of the reward that will be issued based on the reward type  &#x60;?prize.reward.value&#x3D;search_double&#x60; (optional)
   * @param prizeRewardRewardType Reward type id   &#x60;?prize.reward.rewardType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardDelay Delay of issuing a reward in minutes   &#x60;?prize.reward.delay&#x3D;search_integer&#x60; (optional)
   * @param prizeRewardMemberAcknowledgmentRequired To claim a reward   &#x60;?prize.reward.memberAcknowledgmentRequired&#x3D;search_boolean&#x60; (optional)
   * @param prizeRewardMetadataKey Search by reward metadata key.   &#x60;?prize.reward.metadata.key&#x3D;search_word&#x60; (optional)
   * @param prizeRewardMetadataValue Search by reward metadata value.   &#x60;?prize.reward.metadata.value&#x3D;search_word&#x60; (optional)
   * @param prizeRewardCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.reward.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeRewardId Search by reward id. Case sensitive   &#x60;?prize.reward.id&#x3D;search_string&#x60; (optional)
   * @param prizeClaimed Has the award been claimed or not.   &#x60;?prize.claimed&#x3D;search_boolean&#x60; (optional)
   * @param prizeEntityType The type of entity this Award relates to. Case sensitive   Supported values -   &#x60;Contest&#x60; &#x60;Achievement&#x60;   &#x60;?prize.entityType&#x3D;search_word&#x60; (optional)
   * @param prizeEntityId The Id of the contest or achievement related to this Award. Case sensitive   &#x60;?prize.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeId Award id. Case sensitive   &#x60;?prize.id&#x3D;search_word&#x60; (optional)
   * @param status The status of the message. Case sensitive  Supported values - &#x60;New&#x60; &#x60;Read&#x60; &#x60;CollaborationRequest&#x60; &#x60;Actioned&#x60; &#x60;Claimed&#x60; &#x60;Expired&#x60; &#x60;Canceled&#x60; &#x60;Deprecated&#x60;   &#x60;?status&#x3D;search_string&#x60; (optional)
   * @param created Works with simple dates or date and time, eg:   &#x60;?created&#x3D;&lt;created-date&gt;&#x60; (optional)
   * @param metadataKey Search by metadata key. Case sensitive.  &#x60;?metadata.key&#x3D;search_word&#x60; (optional)
   * @param metadataValue Search by metadata value. Case sensitive.  &#x60;?metadata.value&#x3D;search_word&#x60; (optional)
   * @return CompletableFuture&lt;MemberMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<MemberMessageResponse> getMessagesByMemberId(String X_API_KEY, String spaceName, List<String> id, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessagesByMemberIdRequestBuilder(X_API_KEY, spaceName, id, eventRefType, eventReferenceId, messageType, subject, prizeRewardEntityType, prizeRewardEntityId, prizeRewardRewardRank, prizeRewardValue, prizeRewardRewardType, prizeRewardDelay, prizeRewardMemberAcknowledgmentRequired, prizeRewardMetadataKey, prizeRewardMetadataValue, prizeRewardCreated, prizeRewardId, prizeClaimed, prizeEntityType, prizeEntityId, prizeCreated, prizeId, status, created, metadataKey, metadataValue);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessagesByMemberId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {})
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
      });
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  /**
   * Returns messages for a member by requested id
   * Returns a list of available messages for the specified memberId.  GET responses can be filtered out based on the member messages parameters to narrow down the results.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param id The unique identifiers of the resources (optional
   * @param eventRefType Defines an event type attached to the message. Case sensitive Supported values - &#x60;CompetitionType&#x60; &#x60;ContestType&#x60; &#x60;AchievementType&#x60;  &#x60;?eventRefType&#x3D;search_string&#x60; (optional)
   * @param eventReferenceId The reference ID of the event object. Case sensitive   &#x60;?eventReferenceId&#x3D;search_string&#x60; (optional)
   * @param messageType The type of message of the member. Case sensitive Supported values - &#x60;Notification&#x60; &#x60;Achievement&#x60; &#x60;Reward&#x60;  &#x60;?messageType&#x3D;search_string&#x60; (optional)
   * @param subject The title of the message. Case sensitive  &#x60;?subject&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityType Can be achievement or contest. Case sensitive Supported values - &#x60;Achievement&#x60; &#x60;Contest&#x60;  &#x60;?prize.reward.entityType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityId Achievement id or Contest id. Case sensitive   &#x60;?prize.reward.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeRewardRewardRank If used in the context of contest this will associate with the rank of the leaderboard. Case sensitive  &#x60;?prize.reward.rewardRank&#x3D;search_string&#x60; (optional)
   * @param prizeRewardValue Numerical value of the reward that will be issued based on the reward type  &#x60;?prize.reward.value&#x3D;search_double&#x60; (optional)
   * @param prizeRewardRewardType Reward type id   &#x60;?prize.reward.rewardType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardDelay Delay of issuing a reward in minutes   &#x60;?prize.reward.delay&#x3D;search_integer&#x60; (optional)
   * @param prizeRewardMemberAcknowledgmentRequired To claim a reward   &#x60;?prize.reward.memberAcknowledgmentRequired&#x3D;search_boolean&#x60; (optional)
   * @param prizeRewardMetadataKey Search by reward metadata key.   &#x60;?prize.reward.metadata.key&#x3D;search_word&#x60; (optional)
   * @param prizeRewardMetadataValue Search by reward metadata value.   &#x60;?prize.reward.metadata.value&#x3D;search_word&#x60; (optional)
   * @param prizeRewardCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.reward.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeRewardId Search by reward id. Case sensitive   &#x60;?prize.reward.id&#x3D;search_string&#x60; (optional)
   * @param prizeClaimed Has the award been claimed or not.   &#x60;?prize.claimed&#x3D;search_boolean&#x60; (optional)
   * @param prizeEntityType The type of entity this Award relates to. Case sensitive   Supported values -   &#x60;Contest&#x60; &#x60;Achievement&#x60;   &#x60;?prize.entityType&#x3D;search_word&#x60; (optional)
   * @param prizeEntityId The Id of the contest or achievement related to this Award. Case sensitive   &#x60;?prize.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeId Award id. Case sensitive   &#x60;?prize.id&#x3D;search_word&#x60; (optional)
   * @param status The status of the message. Case sensitive  Supported values - &#x60;New&#x60; &#x60;Read&#x60; &#x60;CollaborationRequest&#x60; &#x60;Actioned&#x60; &#x60;Claimed&#x60; &#x60;Expired&#x60; &#x60;Canceled&#x60; &#x60;Deprecated&#x60;   &#x60;?status&#x3D;search_string&#x60; (optional)
   * @param created Works with simple dates or date and time, eg:   &#x60;?created&#x3D;&lt;created-date&gt;&#x60; (optional)
   * @param metadataKey Search by metadata key. Case sensitive.  &#x60;?metadata.key&#x3D;search_word&#x60; (optional)
   * @param metadataValue Search by metadata value. Case sensitive.  &#x60;?metadata.value&#x3D;search_word&#x60; (optional)
   * @return CompletableFuture&lt;ApiResponse&lt;MemberMessageResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<ApiResponse<MemberMessageResponse>> getMessagesByMemberIdWithHttpInfo(String X_API_KEY, String spaceName, List<String> id, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessagesByMemberIdRequestBuilder(X_API_KEY, spaceName, id, eventRefType, eventReferenceId, messageType, subject, prizeRewardEntityType, prizeRewardEntityId, prizeRewardRewardRank, prizeRewardValue, prizeRewardRewardType, prizeRewardDelay, prizeRewardMemberAcknowledgmentRequired, prizeRewardMetadataKey, prizeRewardMetadataValue, prizeRewardCreated, prizeRewardId, prizeClaimed, prizeEntityType, prizeEntityId, prizeCreated, prizeId, status, created, metadataKey, metadataValue);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessagesByMemberId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  new ApiResponse<MemberMessageResponse>(
                      localVarResponse.statusCode(),
                      localVarResponse.headers().map(),
                      memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {}))
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
        }
      );
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  private HttpRequest.Builder getMessagesByMemberIdRequestBuilder(String X_API_KEY, String spaceName, List<String> id, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue) throws ApiException {
    // verify the required parameter 'X_API_KEY' is set
    if (X_API_KEY == null) {
      throw new ApiException(400, "Missing the required parameter 'X_API_KEY' when calling getMessagesByMemberId");
    }
    // verify the required parameter 'spaceName' is set
    if (spaceName == null) {
      throw new ApiException(400, "Missing the required parameter 'spaceName' when calling getMessagesByMemberId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/{spaceName}/members/{id}/messages"
        .replace("{spaceName}", ApiClient.urlEncode(spaceName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eventRefType", eventRefType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eventReferenceId", eventReferenceId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("messageType", messageType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("subject", subject));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.entityType", prizeRewardEntityType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.entityId", prizeRewardEntityId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.rewardRank", prizeRewardRewardRank));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.value", prizeRewardValue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.rewardType", prizeRewardRewardType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.delay", prizeRewardDelay));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.memberAcknowledgmentRequired", prizeRewardMemberAcknowledgmentRequired));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.metadata.key", prizeRewardMetadataKey));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.metadata.value", prizeRewardMetadataValue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.created", prizeRewardCreated));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.id", prizeRewardId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.claimed", prizeClaimed));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.entityType", prizeEntityType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.entityId", prizeEntityId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.created", prizeCreated));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.id", prizeId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created", created));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("metadata.key", metadataKey));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("metadata.value", metadataValue));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (X_API_KEY != null) {
      localVarRequestBuilder.header("X-API-KEY", X_API_KEY.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * Returns messages for a member by requested reference id
   * Returns a list of available messages for the specified member Reference ID.  GET responses can be filtered out based on the member messages parameters to narrow down the results.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberRefId Reference Id of a Member (required)
   * @param eventRefType Defines an event type attached to the message. Case sensitive Supported values - &#x60;CompetitionType&#x60; &#x60;ContestType&#x60; &#x60;AchievementType&#x60;  &#x60;?eventRefType&#x3D;search_string&#x60; (optional)
   * @param eventReferenceId The reference ID of the event object. Case sensitive   &#x60;?eventReferenceId&#x3D;search_string&#x60; (optional)
   * @param messageType The type of message of the member. Case sensitive Supported values - &#x60;Notification&#x60; &#x60;Achievement&#x60; &#x60;Reward&#x60;  &#x60;?messageType&#x3D;search_string&#x60; (optional)
   * @param subject The title of the message. Case sensitive  &#x60;?subject&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityType Can be achievement or contest. Case sensitive Supported values - &#x60;Achievement&#x60; &#x60;Contest&#x60;  &#x60;?prize.reward.entityType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityId Achievement id or Contest id. Case sensitive   &#x60;?prize.reward.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeRewardRewardRank If used in the context of contest this will associate with the rank of the leaderboard. Case sensitive  &#x60;?prize.reward.rewardRank&#x3D;search_string&#x60; (optional)
   * @param prizeRewardValue Numerical value of the reward that will be issued based on the reward type  &#x60;?prize.reward.value&#x3D;search_double&#x60; (optional)
   * @param prizeRewardRewardType Reward type id   &#x60;?prize.reward.rewardType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardDelay Delay of issuing a reward in minutes   &#x60;?prize.reward.delay&#x3D;search_integer&#x60; (optional)
   * @param prizeRewardMemberAcknowledgmentRequired To claim a reward   &#x60;?prize.reward.memberAcknowledgmentRequired&#x3D;search_boolean&#x60; (optional)
   * @param prizeRewardMetadataKey Search by reward metadata key.   &#x60;?prize.reward.metadata.key&#x3D;search_word&#x60; (optional)
   * @param prizeRewardMetadataValue Search by reward metadata value.   &#x60;?prize.reward.metadata.value&#x3D;search_word&#x60; (optional)
   * @param prizeRewardCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.reward.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeRewardId Search by reward id. Case sensitive   &#x60;?prize.reward.id&#x3D;search_string&#x60; (optional)
   * @param prizeClaimed Has the award been claimed or not.   &#x60;?prize.claimed&#x3D;search_boolean&#x60; (optional)
   * @param prizeEntityType The type of entity this Award relates to. Case sensitive   Supported values -   &#x60;Contest&#x60; &#x60;Achievement&#x60;   &#x60;?prize.entityType&#x3D;search_word&#x60; (optional)
   * @param prizeEntityId The Id of the contest or achievement related to this Award. Case sensitive   &#x60;?prize.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeId Award id. Case sensitive   &#x60;?prize.id&#x3D;search_word&#x60; (optional)
   * @param status The status of the message. Case sensitive  Supported values - &#x60;New&#x60; &#x60;Read&#x60; &#x60;CollaborationRequest&#x60; &#x60;Actioned&#x60; &#x60;Claimed&#x60; &#x60;Expired&#x60; &#x60;Canceled&#x60; &#x60;Deprecated&#x60;   &#x60;?status&#x3D;search_string&#x60; (optional)
   * @param created Works with simple dates or date and time, eg:   &#x60;?created&#x3D;&lt;created-date&gt;&#x60; (optional)
   * @param metadataKey Search by metadata key. Case sensitive.  &#x60;?metadata.key&#x3D;search_word&#x60; (optional)
   * @param metadataValue Search by metadata value. Case sensitive.  &#x60;?metadata.value&#x3D;search_word&#x60; (optional)
   * @param id The unique identifiers of the resources (optional
   * @return CompletableFuture&lt;MemberMessageResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<MemberMessageResponse> getMessagesByMemberRefId(String X_API_KEY, String spaceName, String memberRefId, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue, List<String> id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessagesByMemberRefIdRequestBuilder(X_API_KEY, spaceName, memberRefId, eventRefType, eventReferenceId, messageType, subject, prizeRewardEntityType, prizeRewardEntityId, prizeRewardRewardRank, prizeRewardValue, prizeRewardRewardType, prizeRewardDelay, prizeRewardMemberAcknowledgmentRequired, prizeRewardMetadataKey, prizeRewardMetadataValue, prizeRewardCreated, prizeRewardId, prizeClaimed, prizeEntityType, prizeEntityId, prizeCreated, prizeId, status, created, metadataKey, metadataValue, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessagesByMemberRefId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {})
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
      });
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  /**
   * Returns messages for a member by requested reference id
   * Returns a list of available messages for the specified member Reference ID.  GET responses can be filtered out based on the member messages parameters to narrow down the results.
   * @param X_API_KEY Your unique API key (required)
   * @param spaceName This is the space name which is linked to the account (required)
   * @param memberRefId Reference Id of a Member (required)
   * @param eventRefType Defines an event type attached to the message. Case sensitive Supported values - &#x60;CompetitionType&#x60; &#x60;ContestType&#x60; &#x60;AchievementType&#x60;  &#x60;?eventRefType&#x3D;search_string&#x60; (optional)
   * @param eventReferenceId The reference ID of the event object. Case sensitive   &#x60;?eventReferenceId&#x3D;search_string&#x60; (optional)
   * @param messageType The type of message of the member. Case sensitive Supported values - &#x60;Notification&#x60; &#x60;Achievement&#x60; &#x60;Reward&#x60;  &#x60;?messageType&#x3D;search_string&#x60; (optional)
   * @param subject The title of the message. Case sensitive  &#x60;?subject&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityType Can be achievement or contest. Case sensitive Supported values - &#x60;Achievement&#x60; &#x60;Contest&#x60;  &#x60;?prize.reward.entityType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardEntityId Achievement id or Contest id. Case sensitive   &#x60;?prize.reward.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeRewardRewardRank If used in the context of contest this will associate with the rank of the leaderboard. Case sensitive  &#x60;?prize.reward.rewardRank&#x3D;search_string&#x60; (optional)
   * @param prizeRewardValue Numerical value of the reward that will be issued based on the reward type  &#x60;?prize.reward.value&#x3D;search_double&#x60; (optional)
   * @param prizeRewardRewardType Reward type id   &#x60;?prize.reward.rewardType&#x3D;search_string&#x60; (optional)
   * @param prizeRewardDelay Delay of issuing a reward in minutes   &#x60;?prize.reward.delay&#x3D;search_integer&#x60; (optional)
   * @param prizeRewardMemberAcknowledgmentRequired To claim a reward   &#x60;?prize.reward.memberAcknowledgmentRequired&#x3D;search_boolean&#x60; (optional)
   * @param prizeRewardMetadataKey Search by reward metadata key.   &#x60;?prize.reward.metadata.key&#x3D;search_word&#x60; (optional)
   * @param prizeRewardMetadataValue Search by reward metadata value.   &#x60;?prize.reward.metadata.value&#x3D;search_word&#x60; (optional)
   * @param prizeRewardCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.reward.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeRewardId Search by reward id. Case sensitive   &#x60;?prize.reward.id&#x3D;search_string&#x60; (optional)
   * @param prizeClaimed Has the award been claimed or not.   &#x60;?prize.claimed&#x3D;search_boolean&#x60; (optional)
   * @param prizeEntityType The type of entity this Award relates to. Case sensitive   Supported values -   &#x60;Contest&#x60; &#x60;Achievement&#x60;   &#x60;?prize.entityType&#x3D;search_word&#x60; (optional)
   * @param prizeEntityId The Id of the contest or achievement related to this Award. Case sensitive   &#x60;?prize.entityId&#x3D;search_string&#x60; (optional)
   * @param prizeCreated ISO8601 timestamp for when a Reward was created. All records are stored in UTC time zone.   &#x60;?prize.created&#x3D;search_datetime&#x60; (optional)
   * @param prizeId Award id. Case sensitive   &#x60;?prize.id&#x3D;search_word&#x60; (optional)
   * @param status The status of the message. Case sensitive  Supported values - &#x60;New&#x60; &#x60;Read&#x60; &#x60;CollaborationRequest&#x60; &#x60;Actioned&#x60; &#x60;Claimed&#x60; &#x60;Expired&#x60; &#x60;Canceled&#x60; &#x60;Deprecated&#x60;   &#x60;?status&#x3D;search_string&#x60; (optional)
   * @param created Works with simple dates or date and time, eg:   &#x60;?created&#x3D;&lt;created-date&gt;&#x60; (optional)
   * @param metadataKey Search by metadata key. Case sensitive.  &#x60;?metadata.key&#x3D;search_word&#x60; (optional)
   * @param metadataValue Search by metadata value. Case sensitive.  &#x60;?metadata.value&#x3D;search_word&#x60; (optional)
   * @param id The unique identifiers of the resources (optional
   * @return CompletableFuture&lt;ApiResponse&lt;MemberMessageResponse&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public CompletableFuture<ApiResponse<MemberMessageResponse>> getMessagesByMemberRefIdWithHttpInfo(String X_API_KEY, String spaceName, String memberRefId, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue, List<String> id) throws ApiException {
    try {
      HttpRequest.Builder localVarRequestBuilder = getMessagesByMemberRefIdRequestBuilder(X_API_KEY, spaceName, memberRefId, eventRefType, eventReferenceId, messageType, subject, prizeRewardEntityType, prizeRewardEntityId, prizeRewardRewardRank, prizeRewardValue, prizeRewardRewardType, prizeRewardDelay, prizeRewardMemberAcknowledgmentRequired, prizeRewardMetadataKey, prizeRewardMetadataValue, prizeRewardCreated, prizeRewardId, prizeClaimed, prizeEntityType, prizeEntityId, prizeCreated, prizeId, status, created, metadataKey, metadataValue, id);
      return memberVarHttpClient.sendAsync(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofString()).thenComposeAsync(localVarResponse -> {
            if (localVarResponse.statusCode()/ 100 != 2) {
              return CompletableFuture.failedFuture(getApiException("getMessagesByMemberRefId", localVarResponse));
            }
            try {
              return CompletableFuture.completedFuture(
                  new ApiResponse<MemberMessageResponse>(
                      localVarResponse.statusCode(),
                      localVarResponse.headers().map(),
                      memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<MemberMessageResponse>() {}))
              );
            } catch (IOException e) {
              return CompletableFuture.failedFuture(new ApiException(e));
            }
        }
      );
    }
    catch (ApiException e) {
      return CompletableFuture.failedFuture(e);
    }
  }

  private HttpRequest.Builder getMessagesByMemberRefIdRequestBuilder(String X_API_KEY, String spaceName, String memberRefId, String eventRefType, String eventReferenceId, String messageType, String subject, String prizeRewardEntityType, String prizeRewardEntityId, String prizeRewardRewardRank, Double prizeRewardValue, String prizeRewardRewardType, Integer prizeRewardDelay, Boolean prizeRewardMemberAcknowledgmentRequired, String prizeRewardMetadataKey, String prizeRewardMetadataValue, OffsetDateTime prizeRewardCreated, String prizeRewardId, Boolean prizeClaimed, String prizeEntityType, String prizeEntityId, OffsetDateTime prizeCreated, String prizeId, String status, OffsetDateTime created, String metadataKey, String metadataValue, List<String> id) throws ApiException {
    // verify the required parameter 'X_API_KEY' is set
    if (X_API_KEY == null) {
      throw new ApiException(400, "Missing the required parameter 'X_API_KEY' when calling getMessagesByMemberRefId");
    }
    // verify the required parameter 'spaceName' is set
    if (spaceName == null) {
      throw new ApiException(400, "Missing the required parameter 'spaceName' when calling getMessagesByMemberRefId");
    }
    // verify the required parameter 'memberRefId' is set
    if (memberRefId == null) {
      throw new ApiException(400, "Missing the required parameter 'memberRefId' when calling getMessagesByMemberRefId");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/api/v1/{spaceName}/members/reference/{memberRefId}/messages/"
        .replace("{spaceName}", ApiClient.urlEncode(spaceName.toString()))
        .replace("{memberRefId}", ApiClient.urlEncode(memberRefId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eventRefType", eventRefType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("eventReferenceId", eventReferenceId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("messageType", messageType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("subject", subject));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.entityType", prizeRewardEntityType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.entityId", prizeRewardEntityId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.rewardRank", prizeRewardRewardRank));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.value", prizeRewardValue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.rewardType", prizeRewardRewardType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.delay", prizeRewardDelay));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.memberAcknowledgmentRequired", prizeRewardMemberAcknowledgmentRequired));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.metadata.key", prizeRewardMetadataKey));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.metadata.value", prizeRewardMetadataValue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.created", prizeRewardCreated));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.reward.id", prizeRewardId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.claimed", prizeClaimed));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.entityType", prizeEntityType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.entityId", prizeEntityId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.created", prizeCreated));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("prize.id", prizeId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("status", status));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("created", created));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("metadata.key", metadataKey));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("metadata.value", metadataValue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("multi", "id", id));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    if (X_API_KEY != null) {
      localVarRequestBuilder.header("X-API-KEY", X_API_KEY.toString());
    }
    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
