/*
* Copyright (c) 2022. ZIQNI LTD registered in England and Wales, company registration number-09693684
*/
/*
 * Ziqni Gateway Services
 * These are the Gateway services to be used by customers.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gateway.client.api;

import com.ziqni.gateway.client.StreamingClient;
import com.ziqni.gateway.client.ApiClient;
import com.ziqni.gateway.client.ApiException;
import com.ziqni.gateway.client.ApiResponse;
import com.ziqni.gateway.client.Pair;
import com.ziqni.gateway.client.ws.WsCompletableFuture;
import com.ziqni.gateway.client.model.ApiErrorResponse;
import com.ziqni.gateway.client.model.Error;
import com.ziqni.gateway.client.model.SseMemberMessage;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class SseApiWs extends SseApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public SseApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Subscribe to SSE channel
        * Establishes an SSE channel for a specific member id.
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberId Id of a Member (required)
            * @return CompletableFuture&lt;SseMemberMessage&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<SseMemberMessage> subscribeSseChannelByMemberId(String X_API_KEY, String spaceName, String memberId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberId", memberId);
        request.put("path",pathParam);
        

        CompletableFuture<SseMemberMessage> result = new WsCompletableFuture(this.streamingClient, "/aapi/subscribeSseChannelByMemberId", request);
        return result;
        }
        /**
        * Subscribe to SSE channel
        * Establishes an SSE channel for a specific member ref id.
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberRefId Reference Id of a Member (required)
            * @return CompletableFuture&lt;SseMemberMessage&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<SseMemberMessage> subscribeSseChannelByMemberRefId(String X_API_KEY, String spaceName, String memberRefId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberRefId", memberRefId);
        request.put("path",pathParam);
        

        CompletableFuture<SseMemberMessage> result = new WsCompletableFuture(this.streamingClient, "/aapi/subscribeSseChannelByMemberRefId", request);
        return result;
        }
        /**
        * Subscribe to SSE channel
        * Establishes an SSE channel for a specific member id.
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberId Id of a Member (required)
            * @return CompletableFuture&lt;SseMemberMessage&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<SseMemberMessage> subscribeSseChannelHeartbeatByMemberId(String X_API_KEY, String spaceName, String memberId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberId", memberId);
        request.put("path",pathParam);
        

        CompletableFuture<SseMemberMessage> result = new WsCompletableFuture(this.streamingClient, "/aapi/subscribeSseChannelHeartbeatByMemberId", request);
        return result;
        }
        /**
        * Subscribe to SSE channel
        * Establishes an SSE channel for a specific member id.
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param memberRefId Reference Id of a Member (required)
            * @return CompletableFuture&lt;SseMemberMessage&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<SseMemberMessage> subscribeSseChannelHeartbeatByMemberRefId(String X_API_KEY, String spaceName, String memberRefId) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("memberRefId", memberRefId);
        request.put("path",pathParam);
        

        CompletableFuture<SseMemberMessage> result = new WsCompletableFuture(this.streamingClient, "/aapi/subscribeSseChannelHeartbeatByMemberRefId", request);
        return result;
        }
        }
