/*
* Copyright (c) 2022. ZIQNI LTD registered in England and Wales, company registration number-09693684
*/
/*
 * Ziqni Gateway Services
 * These are the Gateway services to be used by customers.
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ziqni.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.ziqni.gateway.client.api;

import com.ziqni.gateway.client.StreamingClient;
import com.ziqni.gateway.client.ApiClient;
import com.ziqni.gateway.client.ApiException;
import com.ziqni.gateway.client.ApiResponse;
import com.ziqni.gateway.client.Pair;
import com.ziqni.gateway.client.ws.WsCompletableFuture;
import com.ziqni.gateway.client.model.AchievementResponse;
import com.ziqni.gateway.client.model.ApiErrorResponse;
import com.ziqni.gateway.client.model.Error;
import com.ziqni.gateway.client.model.WidgetByIdResponse;
import com.ziqni.gateway.client.model.WidgetResponse;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.time.Duration;
import java.util.*;

import java.util.concurrent.CompletableFuture;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")
    public class WidgetsApiWs extends WidgetsApi {
    private final ApiClient apiClient;
    private final ObjectMapper memberVarObjectMapper;
    private final Duration memberVarReadTimeout;
    private final StreamingClient streamingClient;

    public WidgetsApiWs(ApiClient apiClient, StreamingClient streamingClient, Duration readTimeout) {
        this.apiClient = apiClient;
        this.memberVarObjectMapper = apiClient.getObjectMapper();
        this.streamingClient = streamingClient;
        this.memberVarReadTimeout = null;
    }

        /**
        * Returns a widget information for specific id
        * Returns the information for a specific widget
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param id Unique identifier of the resource (required)
            * @return CompletableFuture&lt;WidgetByIdResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<WidgetByIdResponse> getWidgetById(String X_API_KEY, String spaceName, String id) {
        var request = new HashMap<String, Object>();
        
                

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("id", id);
        request.put("path",pathParam);
        

        CompletableFuture<WidgetByIdResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getWidgetById", request);
        return result;
        }
        /**
        * Returns the information of live achievements for a given Widget ID
        * Returns the information of live achievements for a given Widget ID  &#x60;Achievements that are in the widget but are deprecated/archived will not be shown in the response&#x60;
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param widgetId Id of the widget (required)
            * @param limit Used for pagination. Setting the limit value will cause the system to limit the number of records returned to the specified number. (optional)
            * @param skip Used for pagination. Setting the skip value will cause the system to return records from the specified position onwards.  EXAMPLE below returns the results for requested resource without skipping any records  &lt;url&gt;?_limit&#x3D;5&amp;_skip&#x3D;0  EXAMPLE below returns the results for requested resource after skipping the first 10 records  &#x60;&lt;url&gt;?_limit&#x3D;5&amp;_skip&#x3D;10&#x60; (optional)
            * @return CompletableFuture&lt;AchievementResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<AchievementResponse> getWidgetPreviewById(String X_API_KEY, String spaceName, String widgetId, Integer limit, Integer skip) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("limit", limit);
queryParam.put("skip", skip);
        request.put("query",queryParam);

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
pathParam.put("widgetId", widgetId);
        request.put("path",pathParam);
        

        CompletableFuture<AchievementResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getWidgetPreviewById", request);
        return result;
        }
        /**
        * Returns a list of widgets
        * Returns the information for all the widgets.
            * @param X_API_KEY Your unique API key (required)
            * @param spaceName This is the space name which is linked to the account (required)
            * @param id The unique identifiers of the resources (optional
            * @param limit Used for pagination. Setting the limit value will cause the system to limit the number of records returned to the specified number. (optional)
            * @param skip Used for pagination. Setting the skip value will cause the system to return records from the specified position onwards.  EXAMPLE below returns the results for requested resource without skipping any records  &lt;url&gt;?_limit&#x3D;5&amp;_skip&#x3D;0  EXAMPLE below returns the results for requested resource after skipping the first 10 records  &#x60;&lt;url&gt;?_limit&#x3D;5&amp;_skip&#x3D;10&#x60; (optional)
            * @param sortByFields Enables sorting of results based on fields and order specified.  Supported ordering  &#x60;asc, desc&#x60;   Usage syntax  &#x60;_sortByFields&#x3D;&lt;field-to-sort-on&gt;:&lt;order&gt;&#x60;   EXAMPLE The query will return data sorted by transactionTimestamp in descending order  &#x60;&lt;url&gt;?_sortByFields&#x3D;transactionTimestamp:desc,created:asc&#x60; (optional)
            * @param include Allows you to add the products and metadata objects to the response. Case sensitive (optional)
            * @param lang Allows you to preview the label, description and terms and conditions of the competition in a requested language. Case sensitive (optional)
            * @param equal Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  Single equals sign usage has two types of applications in formulating API queries - * assigning values to predefined/reserved parameters like _skip, _limit, _lang, _sortByFields, _uomKey, _include * assigning values to model based parameters (Example name, transactionTimestamp, options.limitEntrantsTo etc.)  EXAMPLE below returns all competitions in \&quot;Ready\&quot; or \&quot;Active\&quot; state that have either a group1 or group2 entrant limitation  &#x60;&lt;url&gt;/competitions?_skip&#x3D;0&amp;_limit&#x3D;100&amp;status&#x3D;Ready,Active&amp;options.limitEntrantsTo&#x3D;group1,group2&#x60; (optional)
            * @param equalEqual Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  Single equals sign usage has two types of applications in formulating API queries - * assigning values to predefined/reserved parameters like _skip, _limit, _lang, _sortByFields, _uomKey, _include * assigning values to model based parameters (Example name, transactionTimestamp, options.limitEntrantsTo etc.)  EXAMPLE below returns all competitions in \&quot;Ready\&quot; state only that have either a group1 or group2 entrant limitation  &#x60;&lt;url&gt;/competitions?_skip&#x3D;0&amp;_limit&#x3D;100&amp;status&#x3D;&#x3D;Ready&amp;options.limitEntrantsTo&#x3D;group1,group2&#x60; (optional)
            * @param lessThanEqual Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  The less than equal filter can be used on fields with a data type of integer, long, double, float, date, time or date-time. The filter will return all matching records that are equal to or less than the specified field value.  EXAMPLE below returns all the data which was uploaded before 17:38 9th of February 2021 (defaults to 20 results).  &#x60;&lt;url&gt;events?transactionTimestamp&lt;&#x3D;2021-02-09T17:38:08.328&#x60; (optional)
            * @param lessThanEqualEqual Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  The less than equal filter can be used on fields with a data type of integer, long, double, float, date, time or date-time. The filter will return all matching records that are equal to or less than the specified field value.  EXAMPLE below returns all the data which were uploaded before 17:38 9th of February 2021 (defaults to 20 results).  &#x60;&lt;url&gt;events?transactionTimestamp&lt;&#x3D;&#x3D;2021-02-09T17:38:08.328&#x60; (optional)
            * @param equalGreaterThan Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  The greater than equal filter can be used on fields with a data type of integer, long, double, float, date, time or date-time. The filter will return all matching records that are equal to or greater than the specified field value.  EXAMPLE below returns all the data which were uploaded after 17:38 9th of February 2021 (defaults to 20 results).  &#x60;&lt;url&gt;events?transactionTimestamp&#x3D;&gt;2021-02-09T17:38:08.328&#x60; (optional)
            * @param equalEqualGreaterThan Single &#x60;&#x3D;&#x60; sign usage will work as a &#x60;should/OR&#x60; action and &#x60;&#x3D;&#x3D;&#x60; will work as a &#x60;must/AND&#x60; action  The greater than equal filter can be used on fields with a data type of integer, long, double, float, date, time or date-time. The filter will return all matching records that are equal to or greater than the specified field value.  EXAMPLE below returns all the data which were uploaded after 17:38 9th of February 2021 (defaults to 20 results).  &#x60;&lt;url&gt;events?transactionTimestamp&#x3D;&#x3D;&gt;2021-02-09T17:38:08.328&#x60; (optional)
            * @return CompletableFuture&lt;WidgetResponse&gt;
        * @throws ApiException if fails to make API call
        */
        public CompletableFuture<WidgetResponse> getWidgets(String X_API_KEY, String spaceName, List<String> id, Integer limit, Integer skip, String sortByFields, String include, String lang, String equal, String equalEqual, String lessThanEqual, String lessThanEqualEqual, String equalGreaterThan, String equalEqualGreaterThan) {
        var request = new HashMap<String, Object>();
        var queryParam = new HashMap<String, Object>();
        queryParam.put("id", id);
queryParam.put("limit", limit);
queryParam.put("skip", skip);
queryParam.put("sortByFields", sortByFields);
queryParam.put("include", include);
queryParam.put("lang", lang);
queryParam.put("equal", equal);
queryParam.put("equalEqual", equalEqual);
queryParam.put("lessThanEqual", lessThanEqual);
queryParam.put("lessThanEqualEqual", lessThanEqualEqual);
queryParam.put("equalGreaterThan", equalGreaterThan);
queryParam.put("equalEqualGreaterThan", equalEqualGreaterThan);
        request.put("query",queryParam);

        var pathParam = new HashMap<String, Object>();
        pathParam.put("spaceName", spaceName);
        request.put("path",pathParam);
        

        CompletableFuture<WidgetResponse> result = new WsCompletableFuture(this.streamingClient, "/aapi/getWidgets", request);
        return result;
        }
        }
